body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: white;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    width: 100%
}

h1 {
    font-size: 20px;
}

p {
    opacity: 70%;
    margin-top: 10px;
}

.toggle-control {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.toggle-control input:checked ~ .control {
    background-color: dodgerblue;
}
.toggle-control input:checked ~ .control:after {
    left: 27.5px;
}
.toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 50px;
    border-radius: 25px;
    background-color: darkgray;
    transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: white;
    transition: left 0.15s ease-in;
}

