@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --geist-font: "Geist", sans-serif;
  --geist-bg: #fff;
}

body {
  font-family: var(--geist-font);
  background-color: var(--geist-bg);
  color: var(--geist-text);
  width: 200px;
  height: 320px;
  margin: 0;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background: hsla(207, 41%, 27%, 1);

  background: linear-gradient(
    270deg,
    hsla(207, 41%, 27%, 1) 0%,
    hsla(191, 28%, 23%, 1) 50%,
    hsla(205, 46%, 10%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(207, 41%, 27%, 1) 0%,
    hsla(191, 28%, 23%, 1) 50%,
    hsla(205, 46%, 10%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(207, 41%, 27%, 1) 0%,
    hsla(191, 28%, 23%, 1) 50%,
    hsla(205, 46%, 10%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#294861", endColorstr="#2a454b", GradientType=1 );
}

.img-container {
  width: 200px;
  height: 200px;
  background-color: #626262;
  opacity: 40%;
  border-radius: 5px;
}

.title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

.author {
  font-size: 14px;
  margin-top: 2px;
  color: #627786;
  text-decoration: none;
}

.checkbox-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 10px;
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}

.custom-checkbox::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M18 6 6 18'/><path d='m6 6 12 12'/></svg>");
}

input[type="checkbox"]:checked + .custom-checkbox::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M20 6 9 17l-5-5'/></svg>");
}
